.global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100vh !important;
    padding-top: 140px;
    background-color: #fff;
    transition: all .6s;
    z-index: 200 !important;
    overflow-y: auto;
    align-items: unset !important;
    justify-content: center !important;
}

.hamburger {
    user-select: none;
    position: absolute;
    right: 0;
    top: 39px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
    color: #000;
    font-color: #fff;
}

.global-nav__list {
    width: 80%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.global-nav__item {
    text-align: center;
    padding: 10px 14px;
}

.global-nav__item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #111;
}

.global-nav__item a:hover {
    background-color: rgba(238, 238, 238, 0.79);
}

.hamburger__line {
    position: absolute;
    left: -5px;
    width: 30px;
    height: 3px;
    background-color: #fefefe;
    transition: all .6s;
}

.hamburger__line--1 {
    top: 16px;
}

.hamburger__line--2 {
    margin: 35px 0;
}

.hamburger__line--3 {
    top: 26px;
}

.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}

.nav-open .global-nav {
    right: 0;
}

.nav-open .black-bg {
    opacity: .8;
    visibility: visible;
}

.nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 20px;
}

.nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
}

.nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 20px;
}

.nav-open .hamburger {
    position: fixed !important;
}

.nav-open .hamburger__line {
    background-color: #222222;
}