/* Reset all margins, padding, and borders to zero */
*,
*:focus,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Reset default list styles */
ul, ol {
    list-style: none;
}

/* Reset default link styles */
a:focus,
a:active,
a::before,
a::after {
    all: unset;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: #A06056;
}