/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Raleway:wght@400;700;&display=swap');

/*Frequently used properties*/
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

/*Section Start*/
.section_start {
    min-height: 768px;
    height: 100vh;
    background-image: url("../images/main/background_start.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    z-index: 998;
}

.nav_container {
    gap: 40px;
    margin-top: 23px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.nav_container li {
    transition: 0.4s all ease-in-out;
}

.nav_container li:hover {
    transform: translateY(-5px);
}

.btn_tickets {
    color: #381DDB;
    background-color: #FFFFFF;
}

.btn_tickets:hover {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.card_1 button:hover {
    background-color: rgba(56, 29, 219, 0.8);
}

.card_2 button:hover {
    color: #381DDB;
    border: 1px solid #381DDB;
    background-color: transparent;
}

.card_3 button:hover {
    background-color: rgba(56, 29, 219, 0.8);
}

.start_center_container {
    margin-top: 75px;
    flex-direction: column;
}

.start_center_container > h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
}

.start_center_container > h1 > span {
    color: #FFA3A3 !important;
}

.start_center_container > p {
    margin: 40px 0;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
}

.btn_start_group {
    display: flex;
    gap: 64px;
}

.btn_start {
    color: #FFFFFF;
    background-color: #FC5252;
    transition: 0.4s all ease-in-out;
}

.btn_start:hover {
    border: 1px solid #fefefe;
    transform: translateY(-5px);
}

.btn_video {
    color: #FFFFFF;
    background-color: transparent;
    position: relative;
}

.btn_video:hover {
    border: transparent !important;
}

.btn_video:before {
    content: "";
    background-image: url("../icons/main/play.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    position: absolute;
    top: 4px;
    left: -23px;
    animation-name: btnPlay;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/*Time ago*/
.time_report {
    position: absolute;
    bottom: -35px;
    user-select: none;
    left: 0;
}

.time_report p {
    margin: 0;
}

.time_report span {
    font-size: 110px;
    color: #FFFFFF;
}

/*Section Category*/
.section_explore_category {
    padding-top: 240px;
    background-color: #FFFFFF;
    position: relative;
}

.components_1 {
    position: absolute;
    bottom: -50px;
    left: 110px;
    animation: animationFrames-1 40s linear infinite;
}

.components_2 {
    position: absolute;
    left: 75px;
    z-index: -1;
    animation: animationFrames-2 35s linear infinite;
}

.components_3 {
    position: absolute;
    right: 157px;
    animation: animationFrames-3 15s linear infinite;
}

.components_4 {
    position: absolute;
    z-index: 5;
    bottom: -20px;
    right: 53px;
    animation: animationFrames-4 30s linear infinite;
}

.section_explore_category h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    color: #222222;
}

.section_explore_category h1 span {
    color: #381DDB;
}

.carousel-wrap {
    position: relative;
    margin-top: 60px;
    padding: 0 !important;
}

.owl-carousel .item {
    position: relative;
    z-index: 100;
    border-radius: 24px;
    -webkit-backface-visibility: hidden;
    width: 370px;
    height: 326px;
}

.item_1 {
    background-color: rgba(219, 132, 29, 0.3);
}

.item_2 {
    background-color: rgba(252, 82, 82, 0.3);
}

.item_3 {
    background-color: rgba(56, 29, 219, 0.3);
    color: #FFFFFF;
}

.item_4 {
    background-color: rgba(192, 0, 150, 0.3);
}

.item_5 {
    background-color: rgba(132, 196, 255, 0.3);
}

.owl-carousel .item img {
    width: 30px;
    height: 30px;
}

.item_wrapper {
    position: absolute;
    bottom: 36px;
    padding: 0 20px;
}

.item_wrapper > h4 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 38px;
    color: #222222;
    margin: 20px 0;
}

.item_wrapper > P {
    color: #222222;
    opacity: 0.7;
}

.item_3 h4 {
    color: #FFFFFF !important;
}

.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}

.owl-carousel.owl-drag .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Section Musik*/
.section_musik {
    padding-top: 240px;
    position: relative;
}

.components_5 {
    position: absolute;
    z-index: -5;
    left: 105px;
    bottom: 10px;
    animation: animationFrames-4 30s linear infinite;
}

.musik_left_side {
    position: relative;
    height: 600px;
}

.musik_left_side img:first-child {
    position: absolute;
    left: 0;
    top: 0;
    width: 460px;
    height: 480px;
}

.musik_left_side img:nth-child(2) {
    position: absolute;
    left: 70px;
    top: 70px;
    width: 460px;
    height: 480px;
}

.musik_right_side {
    padding-top: 87px;
    padding-left: 75px;
}

.musik_right_side > h3 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
}

.musik_right_side > p {
    color: #222222;
    margin: 32px 0 80px 0;
}

.btn_learn_more {
    background-color: #381DDB;
    color: #FFFFFF;
    padding: 20px 50px;
    position: relative;

}

.btn_learn_more:after {
    content: "";
    background-image: url("../icons/main/arrow.png");
    height: 24px;
    width: 24px;
    position: absolute;
    top: 18px;
    right: 18px;
    animation-name: mainBtn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.btn_learn_more:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid #381DDB;
    color: #381DDB;
}

/*Section Singers*/
.section_singers {
    padding: 240px 0;
    position: relative;
}

.shape {
    position: absolute;
    top: 400px;
    right: 0;
}

.dots {
    position: absolute;
    top: 400px;
    right: 0;
    animation: dots 15s linear infinite;
}

.triangle-back {
    position: absolute;
    right: 117px;
    bottom: 0;
    animation: triangle-back 10s linear infinite;
    opacity: 0.5;
}

.triangle-front {
    position: absolute;
    right: 147px;
    bottom: 20px;
    animation: triangle-front 10s linear infinite;
    opacity: 0.8;
}

.ring-back {
    position: absolute;
    left: 108px;
    bottom: 400px;
    animation: ring-back 10s linear infinite;
    opacity: 0.5;
    z-index: 35;
}

.ring-front {
    position: absolute;
    left: 117px;
    bottom: 430px;
    animation: ring-front 10s linear infinite;
    z-index: 35;
}

.singers_left_side {
    padding: 200px 50px 0 50px;
}

.singers_left_side > h3 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
}

.singers_left_side > p {
    color: #222222;
    margin: 32px 0 80px 0;
}

/*Grid*/
.box-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(13, 1.5fr);
    gap: 51px 30px;
}

.box1 {
    grid-area: 2 / 1 / 8 / 7;
}

.box2 {
    grid-area: 2 / 7 / 9 / 12;
}

.box3 {
    grid-area: 8 / 1 / 15 / 6;
}

.box4 {
    grid-area: 9 / 6 / 15 / 12;
}

.box1 img, .box2 img, .box3 img, .box4 img {
    width: 100%;
}

/*Card Hover*/
.card {
    perspective: 1000px;
    border: none;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    padding: 0 15px;
    border-radius: 25px;
    background: rgb(75 160 73 / 56%);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

/*Section Price*/
.section_price {
    background: linear-gradient(180deg, rgba(56, 29, 219, 0.05) 0%, rgba(56, 29, 219, 0) 100%);
    padding: 240px 0;
    position: relative;
}

.section_price h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 60px;
    color: #222222;
}


.price_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 100px rgba(34, 34, 34, 0.15);
    border-radius: 20px;
    padding: 30px 0;
}

.price_wrapper > h4 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 38px;
    margin-bottom: 15px;
}

.price_wrapper > h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 30px;
}

.price_wrapper > p {
    color: #222222;
    line-height: 24px;
    opacity: 0.5;
}

.card_1 {
    border-top: 4px solid #222222;
}

.card_2 {
    border-top: 4px solid #381DDB;
}

.card_3 {
    border-top: 4px solid #FC5252;
}

.card_1 h4 {
    color: #222222;
}

.card_1 h3 {
    color: #222222;
}

.card_1 button {
    color: #381DDB;
    border: 1px solid #381DDB;
    margin-top: 15px;
}

.card_2 h4 {
    color: #381DDB;
}

.card_2 h3 {
    color: #381DDB;
}

.card_2 button {
    color: #FFFFFF;
    background-color: #381DDB;
    margin-top: 15px;
}

.card_3 h4 {
    color: #FC5252;
}

.card_3 h3 {
    color: #FC5252;
}

.card_3 button {
    color: #381DDB;
    border: 1px solid #381DDB;
    margin-top: 15px;
}

.card_animation_1 {
    position: absolute;
    bottom: 150px;
    right: 110px;
    animation: card_animation_1 10s linear infinite;
}

/*Section Our Sponsors*/
.section_sponsors {
    position: relative;
}

.section_sponsors h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #222222;
}

.section_sponsors img {
    margin: 60px 0;
    filter: grayscale(0.7);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.section_sponsors img:hover {
    transform: scale(1.15);
    filter: grayscale(0);
}

.section_sponsors button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #381DDB;
    margin-top: 20px;
}

.section_sponsors button:hover {
    color: #381DDB;
    border: 1px solid #381DDB;
}

    /*Section Testimonials*/
/*.section_testimonials {*/
/*    padding: 240px 0;*/
/*}*/


/*Section Instagram*/
.section_instagram {
    padding-top: 160px;
    margin-bottom: 140px;
    background: linear-gradient(180deg, rgba(252, 82, 82, 0.05) 0%, rgba(252, 82, 82, 0) 100%);
}

.text_container {
    position: relative;
}

.section_instagram h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #222222;
}

.instagram_logo {
    position: absolute;
    top: -90px;
    left: 160px;
    opacity: 0.1;
    animation: instagram_logo 10s linear infinite;
}

@keyframes instagram_logo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

.card_bottom_instagram {
    display: flex;
    gap: 40px;
    margin-top: 24px;
}

.card_bottom_instagram p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-left: 8px;
    margin-bottom: 0;
}

.instagram_title {
    color: #222222;
    font-size: 15px;
    margin: 8px 0;
}

.shots_info > p:last-child {
    font-size: 12px;
    color: #222222;
    opacity: 0.5;
}

.shots_info > div img {
    width: 20px !important;
    height: 19px;
}


/*Custom Map*/
.section_map {
    /*padding: 240px 0;*/
}

.sponsors_mobile {
    display: none;
}

.owl-carousel .sponsors_item_mobile {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    width: 370px;
    height: 380px;
}

.owl-carousel .item_wrapper_sponsors img {
    width: 100%;
}

.sponsors_mobile_wrapper .owl-item {
    height: 180px;
}


/*Footer*/
.section_footer {

}

.footer_left_side {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 650px;
    background-color: #381DDB;
}

.footer_left_side_wrapper {
    z-index: 100;
}

.footer_left_side_wrapper > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #FFFFFF;
}

.footer_left_side_wrapper > p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    margin: 8px 0 80px 0;
    color: #FFFFFF;
    opacity: 0.7;
}

.footer_left_side > img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer_left_side ul {
    padding: 0;
}

.footer_left_side ul li {
    display: flex;
    align-items: center;
    gap: 11px;
}

.footer_left_side ul li p {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 20px;
    margin-top: 20px;
}

.footer_right_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.03);
    position: relative;
}

.footer_right_side > form {
    min-width: 470px;
}

.footer_right_side img {
    position: absolute;
    right: 56px;
    bottom: 0;
}

.footer_right_side h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0px;
    color: #222222;
    margin-bottom: 40px;
}


/*Form Input*/
hgroup {
    text-align: center;
    margin-top: 4em;
}

h1, h3 {
    font-weight: 300;
}

/*h1 { color: #636363; }*/

/*h3 { color: #4a89dc; }*/

form {
    /*padding: 103px 375px 0 103px;*/
    max-width: 500px;
}

.group {
    position: relative;
    margin-bottom: 30px;
}

input {
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #222222;
    border: none;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
}

input:focus {
    outline: none;
}

/* Label */
label {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #222222;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */
input:focus ~ label, input.used ~ label {
    top: -20px;
    transform: scale(.75);
    left: -2px;
    color: #4a89dc;
}


/* Underline */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}


/* Highlight */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.7;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}


/* active */
input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}


/* Animations */
@keyframes inputHighlighter {
    from {
        background: #4a89dc;
    }
    to {
        width: 0;
        background: transparent;
    }
}


/* Button */
.button {
    position: relative;
    display: inline-block;
    padding: 18px 0;
    margin-top: 40px;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    background: #381DDB;
    border-radius: 8px;
    transition: all 0.15s ease;
}

.button:focus {
    outline: 0;
}

.button:hover {
    background: #357bd8;
}

/* Ripples container */
.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

/* Ripples circle */
.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}

/* Ripples animation */
@keyframes ripples {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}

/*Copyright Area*/
.copyright_area {
    background-color: #222222;
    padding: 40px 0 30px 0;
}

.nav_container_copyright {
    display: flex;
    gap: 30px;
    padding: 0;
    margin-top: 55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.copyright_area_left div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.copyright_area_center {
    display: flex;
    justify-content: center;
    align-items: end;
}

.copyright_area_center > ul {
    display: flex;
    gap: 30px;
}

.copyright_area_right {
    display: flex;
    align-items: end;
}

.copyright_area_right > p {
    font-size: 12px;
    line-height: 18px;
    opacity: 0.3;
}


/* Custom Scroll */
.custom-scroll {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888888 #F4F4F4;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(56, 29, 219, 0.84);
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

/* Progressbar */
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    opacity: 60%;
    background-color: #381DDB;
    z-index: 99;
}


/*.parent {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(11, 1fr);*/
/*    grid-template-rows: repeat(11, 1fr);*/
/*    grid-column-gap: 30px;*/
/*    grid-row-gap: 51px;*/
/*}*/

/*.div1 { grid-area: 2 / 1 / 3 / 7; }*/
/*.div2 { grid-area: 4 / 1 / 6 / 9; }*/
/*.div3 { grid-area: 1 / 11 / 3 / 10; }*/
/*.div4 { grid-area: 4 / 9 / 7 / 10; }*/
