@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* For portrait layouts only */
}

body {
    margin: 0;
    padding: 0;
}

.leaflet-container a.leaflet-popup-close-button {
    padding: 8px 21px 0 0;
}

#vacancy_map {
    /*width: 100vw;*/
    height: 600px;
    overflow: hidden;
    position: relative;
    font-family: "Roboto", sans-serif !important;
    user-select: none;
    z-index: 0;
}

#addresses {
    font-family: "Roboto", sans-serif !important;
}

#vacancy_map h1, #vacancy_map h2, #vacancy_map h3, #vacancy_map h4, #vacancy_map h5, #vacancy_map h6 {
    margin: 0;
    font-family: "Roboto", sans-serif !important;
}

.image_marker_factory img {
    /*max-width: 50%;*/
    text-align: center;
}

.image_marker_factory {
    text-align: center;
}

#f1map {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* vacancy popups */
.popup_link {
    color: #333 !important;
    text-decoration: none;
    transition: color 1s ease;
}

.popup_link:hover {
    color: #610AEE !important;
}

#content-left,
#content-right {
    background-color: white;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: max-content;
}

#content-right {
    width: max-content;
}

#content-right {
    right: 0;
}

/* vacancy popups */

.f1_location_popup .leaflet-popup-content {
    /*cursor: pointer;*/
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.f1_location_popup .leaflet-popup-content {
    text-align: center;
}

.f1_location_popup .leaflet-popup-content h3 {
    font-size: 1.5em;
}

.f1_location_popup .leaflet-popup-content p {
    margin: 0;
    font-weight: normal;
}

.f1_location_popup .leaflet-popup-content img {
    /*width: 100%;*/
    height: 130px;
    width: auto;
    margin: 0 0;
}

.f1_location_popup .leaflet-popup-content ul.detail-grid {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.f1_location_popup .leaflet-popup-content ul.detail-grid span {
    font-weight: bold;
    font-size: 1.5em;
}

/* vacancy-list */
#vacancy-list {
    font-size: 0.9em;
    display: grid;
    gap: 0.2em 0.5em;
    list-style: none;
    overflow-y: auto;
    padding-right: 2em;
}

#vacancy-list li > * {
    pointer-events: none;
}

#vacancy-list li {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 0.5em;
    cursor: pointer;
    transition: background-color 0.25s ease;
    padding: 0.2em 0.5em;
    align-items: center;
    white-space: nowrap;
    /*   overflow:auto; */
}

#vacancy-list li .vacancy-nr {
    text-align: right;
}

#vacancy-list li .vacancy-nr:after {
    content: ".";
}

#vacancy-list li .vacancy-fullname {
    font-weight: bold;
}

#vacancy-list li .vacancy-date {
    font-weight: normal;
    font-size: 0.8em;
    grid-column: 2
}

#vacancy-list li.active {
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    border-radius: 0.3em;
}

#vacancy-list li.selected:not(.active) {
    background-color: rgb(255, 165, 0, 0.8);
    border-radius: 0.3em;
}

#vacancy-list li:not(.active):not(.selected):hover {
    background-color: rgba(150, 149, 149, 0.8);
    border-radius: 0.3em;
}

.vacancy-details {
    display: none;
    flex-direction: column;
    gap: 0.5em;
    overflow-y: auto;
    padding-right: 1em;
}

.vacancy-details.active {
    display: flex;
}

.vacancy-session {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.vacancy-details h3 {
    max-width: 180px;
}

.vacancy-session-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(150, 149, 149, 0.8);
    border-radius: 0.3em;
    padding: 0.5em;
    color: white;
    cursor: pointer;
}

.vacancy-session.finished .vacancy-session-header {
    background-color: rgba(0, 128, 0, 0.8);
}

.vacancy-session.finished .vacancy-session-title:before {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.5em;
}

.vacancy-session.finished.active .vacancy-session-title:before {
    content: "\f106";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.5em;
}

.vacancy-session-title {
    font-weight: bold;
}

.vacancy-session-result {
    display: none;
    height: 0;
    gap: 0.5em;
    transition: height 0.25s ease;
}

.vacancy-session.active .vacancy-session-result {
    display: flex;
    height: auto;
}

.vacancy-session-result-pos {
    width: 20px;
    text-align: right;
}

.vacancy-session-result-driver {
    flex: 1;
    font-weight: bold;
}

.leaflet-control-attribution {
    font-size: 14px !important;
}
#map { height: 700px;}

.popup-map .item .title { font-size: 18px; text-transform: uppercase; color: #27255f; font-weight: bold; margin: 5px 0}
.popup-map .item .title i { margin-right: 5px; color: #27255f; }
.popup-map .item p { font-size: 18px;color: #333 !important;font-weight: bold;line-height: normal}
.popup-map .item a { font-size: 18px; color: #333;font-weight: bold;transition: 0.5s }
.popup-map .item a:hover { font-size: 18px; color: #231384;}
