/*To reduce our code, we write a technical css*/
.t_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 18px 34px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 20px;
}